@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bungee+Outline&family=Fascinate+Inline&family=Kiwi+Maru&family=Nabla&family=Noto+Sans+JP:wght@100..900&display=swap');


body{
  font-family: "Bagel Fat One", system-ui;
}

#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #f1efe1;
  min-height: 100vh;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.inner{
  width: 100%;
  max-width: 1080px;
  margin: 50px auto;
  position: relative;
  z-index: 3;
}

.content-inner{
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
  margin-top: 50px;
}

.movie-image{
  width: 30%;
  display: block;
  margin-inline:  auto;

}

.movie-title{
  font-size: 4rem;
  text-shadow: 6px 6px 0px #000000;
  color: #ffc100
}


.button-color{
  font-family: "Bagel Fat One", system-ui;

}

.box-color{

  font-family: "Bagel Fat One", system-ui;
}


.front-container{
  padding: 0 50px 100px;
}

.front-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-title{
 margin: 40px 0 ;
}

.review-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner.login{
  max-width: 600px;
}


.movie-list__img {
  cursor: pointer;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
}

.movie-list__img img {
  /* height: auto; */
  transition: transform .6s ease;
  /* ゆっくり変化させる */
}

.movie-list__img:hover img {
  transform: scale(1.1);
  /* 拡大 */
}

.wrap::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-image: var(--image-url);
  position: absolute;
  background-size: cover;
  background-position: 20% 30%;
  z-index: 1;
}